html{ 
color: darkred;
}

li{
    color: blue;
}

#first-heading { color:red;}

#god { color: aqua;}

.p_two {
    color: pink;
    font-size: 30px;
    font-weight: 700;
    background-color: black;
    cursor: pointer;
    padding: 6px;
    border-radius: 10px;
    width: 200px;
    margin: auto;
  } 
  
  body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .site-header {
    text-align: center;
  }
  
  .site-header h1 {
    margin: 0;
  }
  
  .site-nav ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .site-nav li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between menu items */
  }
  
  .top-posts {
     border-top: solid gold; /* Adjust thickness */
     border-bottom:solid gold; /* Adjust thickness */
  }
  
